# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS artifacts
.DS_Store

# Expo / React Native
.expo/
.expo-shared/
web-build/
dist/

# Environment files
.env
.env.*
